<h2>Step2</h2>
<title>Knockout + Login</title>
<style type="text/css">
    img.thumb {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<body>
    <h3>Select Your Login</h3>
    <div id="empLogin">
        <input type="text" id="userName" />
        <input type="button" id="doLogin" />
    </div>  
    <br />
</body>
<script src="~/Scripts/Step1/Step2.js"></script>